<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block title %}<title>Foroba Blon</title>{% endblock %}
		<style>
			* {
				font: normal 1em sans-serif;
				color: #222;
			}
			thead {
				background: #444;
			}
			thead th {
				color: #EEE;
			}
			th, td {
				padding: 0.4em;
			}
			tbody tr:nth-child(odd) {
				background: #EEE;
			}
		</style>
	</head>


	<body>
		{% block content %}{% endblock %}
	</body>

</html>
